#map {
	height: calc(100% - 60px);
}
.ymaps-2-1-47-button_size_s .ymaps-2-1-47-button__text {
	display: none;
}
.ymaps-2-1-47-input__box {
	display: none !important;
}
.ymaps-2-1-47-button_size_s .ymaps-2-1-47-button__text, .ymaps-2-1-47-input__box, .ymaps-2-1-47-copyright__wrap, .ymaps-2-1-47-scaleline, .ymaps-2-1-47-zoom {
	display: none !important;
}